<style>
  .post {
    border: 1px solid black; 
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
  }
  .post  h2 {
    color: olivedrab; 
  }
</style>


<div class="post">
 <h2>{{title}}</h2>
 <p>{{body}}</p>
 <p>Posted by :<strong>{{user.username}}</strong></p>
 <p>Posted at :{{format_date createdAt}}</p>
</div>