
{{!-- TODO - write the template to show all the user's posts on the /dashboard route 
add admin single post hb page that comments can be left on--}}
<a href ="/dashboard/create">Create Post</a>
<h2>My Posts</h2>
{{#each posts }}
{{> posts this }}

{{/each}}